
* {
  font-family: 'Titillium Web';
}

/* ------------------------------- HEADER ------------------------------------ */
.header {
    max-width: 1200px;
    margin: 75px auto 0;
  }
  
  .upper-band {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  
  .logo {
   flex-grow: 4;
   align-self: center;
   justify-self: flex-start;
  }
  
  .navigation {
    flex-grow: 3;
  }
  
  .nav-list {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }
  
  .nav-list-item {
    flex-grow: 1;
  }

  .nav-list-link {
    text-decoration: none;
    color: #666;
  }
  
  .user {
    flex-grow: 1;
    align-self: center;
    margin-left: 50px;
  }

  .user::before{
    content: url(../img/LOGin.png);
  }

  .login-button {
    text-decoration: none;
    color: #666;
  }

  .signup {
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #593587, #616bc1);
    color: #ffffff;
    padding: 13px 22px;
    text-decoration: none;
    margin-left: 20px;
  }

  /*------------------------------------------MAIN------------------------------- */
main {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
  }
  
  /*-------------------------------------MASTHEAD--------------------------*/
  .masthead {
    width: 100%;
    background-image: url('../img/background.jpg');
  }
  
  .masthead-content {
    min-height: 700px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 170px;
  }
  
  .title-subtitle{
    width: 100%;
    margin: 0 auto 70px;
  }
  
  .title-subtitle{
    font-size: 60pt;
    color: rgba(69, 69, 69, 255);
    text-align: center
  }
  
  .title {
    margin: 0 auto;
    font-size: 60pt;
    font-weight: bold;
    color: rgb(139, 135, 135);
  }
  .subtitle {
    margin: 0 auto;
    font-size: 30pt;
    color: rgb(139, 135, 135);
  }

  .where {
    color:rgb(245, 69, 69);
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .account {
    height: 62px;
    width: 250px;
    border-radius: 36px;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #593587, #616bc1);
    color: #ffffff;
    padding: 13px 22px;
    box-shadow: 0 0 2px 2px rgba(84, 83, 85, 0.5);
    margin-right: 10px;
  }

  .apple {
    background-image: url(../img/appbut.png);
    background-repeat: no-repeat;
    background-position: 12px 8px;
  }
  .android {
    background-image: url(../img/androidbut.png);
    background-repeat: no-repeat;
    background-position: 13px 9px;
  }
  
  .apple,
  .android {
    background-color: #593587;
    border: none;
    color: white;
    margin: 0 10px;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
  }

  /*------------------------------features---------------------------*/

.features {
    min-height: 500px;
    width: 100%;
  }
  
  .features-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .swiss::before {
    content: url(../img/shield.png);
    position: absolute;
  }
  
  .double::before {
    content: url(../img/lock.png);
    position: absolute;
  }

  .anonym::before {
    content: url(../img/key.png);
    position: absolute;
  }
  
  .swiss,
  .double,
  .anonym {
    width: 360px;
    height: 150px;
    font-size: 22pt;
    color: #666;
    text-align: left;
    margin: 0 40px;
  }

  .main-swiss {
    margin-left: 60px;
  }

  .main-double {
    margin-left: 60px;
  }

  .main-anonym {
    margin-left: 60px;
  }
  
  .swiss-ins,
  .double-ins,
  .anonym-ins {
    font-size: 15pt;  
    margin: -12px auto auto 60px;
    text-align: left;
  }
  
  .swiss-sub,
  .double-sub,
  .anonym-sub {
    font-size: 10pt;
  }
  
  .security {
    margin: 0 auto;
    max-width: 630px;
    text-align: right;
    min-height: 300px;
  }
  
  .security-title {
    font-size: 50pt;
    font-weight: normal;
    margin-top: 130px;
    color: rgb(66, 66, 66);
  }
  
  .security-text {
    font-size: 17pt;
    color: #666;
    margin-top: -75px;
  }
  
  .more {
    height: 62px;
    width: 335px;
    border: 1px solid #666;
    border-radius: 36px;
    background-color: white;
    color: rgb(71, 70, 70);
    padding: 10px 22px;
    text-decoration: none;
  }

  /*------------------------------market---------------------------*/
.marketing {
    min-height: 600px;
    width: 100%;
    background: url(../img/devices.png);
    background-repeat: no-repeat;
    background-position: right;
  }
  
  .sponsors {
    width: 943px;
    height: 66px;
    background-repeat: no-repeat;
    background-image: url('../img/download\ \(3\).png');
  }
  
  .market-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .reviews-first {
    font-size: 20pt;
    color: #666;
  }
  
  .reviews-second,
  .reviews-third {
    display: none;
  }
  
  .devices {
    font-family: "TitilliumWebReg";
    width: 440px;
    margin: 0 auto;
  }
  
  .devices-title {
    font-size: 36pt;
    font-weight: normal;
  }
  
  .devices-text {
    font-size: 16pt;
    text-align: right;
  }
  
  .devices-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .devices-apple,
  .devices-android {
    margin-left: 13px;
  }

  /*-------------------------------------------------privacy------------------------------*/

.privacy {
    min-height: 520px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .supp-title {
    font-size: 36pt;
    color: rgba(83, 83, 83, 255);
    text-align: center;
  }
  
  .supp-subtitle {
    font-size: 30pt;
    color: rgba(83, 83, 83, 255);
    text-align: center;
    margin: -45px auto;
  }
  .sup-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .paid-plan {
    height: 58px;
    width: 250px;
    border-radius: 29px;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to left, #593587, #616bc1);
    color: #ffffff;
    padding: 13px 24px;
    text-align: center;
    margin: 85px 24px;
    box-shadow: 0.4em 0.4em 5px 2px rgba(122,122,122,0.5);
  }
  
  .donate {
    height: 58px;
    width: 170px;
    border-radius: 29px;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to left, #616bc1, #0acaec);
    color: #ffffff;
    padding: 13px 24px;
    margin: 85px 24px;
    box-shadow: 0.4em 0.4em 5px 2px rgba(122,122,122,0.5);
  }
  
  .vendors {
    display: flex;
    justify-content: flex-end;
  }
  
  .vendors-title {
    width: 100%;
  }
  
  .vendors-images {
    width: 974px;
    height: 92px;
    justify-self: flex-end;
  }

  /*------------------------------------footer-------------------------*/

.footer {
  max-width: 1200px;
  min-height: 370px;
  background-color: #ffffff;
  font-size: 15px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.footer-contacts {
  flex-grow: 3;
  justify-self: flex-start;
}

.footer-company,
.footer-legal,
.footer-neutronmail {
  flex-grow: 1;
  justify-self: flex-end;
}

.footer-title,
.footer-contacts-title {
  color: #666;
  line-height: 23px;
  text-align: end;
  font-weight: bold;
}

.footer-contacts-text {
  color: #666;
  line-height: 23px;
}

.footer-contacts-link {
  color: #666;
  text-decoration: none;
}

.footer-list {
  list-style: none;
  padding: 0;
}
.footer-list-item {
  text-align: end;
}

.footer-list-link {
  color: #666;
  text-decoration: none;
}

.footer-social-link {
  color: #666;
}

.footer-copyright {
  color: #666;
  font-weight: 700;
}